@import './base.css';

.bg-inanimate {
  background: var(--inanimate);
}

.bg-100-inanimate {
  background: linear-gradient(to right, rgba(var(--inanimate-rgb), 0.15), rgba(var(--inanimate-rgb), 1));
  position:relative;
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:12px;
    left:0;
    bottom:12px;
    right:0;
    background-image:url('/images/inanimate.svg');
    background-size:auto 100% ;
    background-repeat:no-repeat;
    /* left middle */
    background-position: 33.33% 50%;
    z-index:-1;
    opacity:0.3;
  }
}

.bg-water {
  background: var(--water);
}
.bg-dragon {
  background: var(--dragon);
}
.bg-electric {
  background: var(--electric);
}
.bg-fairy {
  background: var(--fairy);
}
.bg-ghost {
  background: var(--ghost);
}
.bg-fire {
  background: var(--fire);
}
.bg-ice {
  background: var(--ice);
}
.bg-grass {
  background: var(--grass);
}
.bg-bug {
  background: var(--bug);
}
.bg-fighting {
  background: var(--fighting);
}
.bg-normal {
  background: var(--normal);
}
.bg-dark {
  background: var(--dark);
}
.bg-metal {
  background: var(--metal);
}
.bg-stone {
  background: var(--stone);
}
.bg-psychic {
  background: var(--psychic);
}
.bg-earth {
  background: var(--earth);
}
.bg-ground {
  background: var(--earth);
}
.bg-poison {
  background: var(--poison);
}
.bg-flying {
  background: var(--flying);
}

/* Light Versions */

.bg-100-water {
  background: linear-gradient(to right, rgba(var(--water-rgb), 0.15), rgba(var(--water-rgb), 1));
  position:relative;
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:12px;
    left:0;
    bottom:12px;
    right:0;
    background-image:url('/images/water.svg');
    background-size:auto 100% ;
    background-repeat:no-repeat;
    /* left middle */
    background-position: 33.33% 50%;
    z-index:-1;
    opacity:0.3;
  }
}
.bg-100-dragon {
  background: linear-gradient(to right, rgba(var(--dragon-rgb), 0.15), rgba(var(--dragon-rgb), 1));
  position:relative;
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:12px;
    left:0;
    bottom:12px;
    right:0;
    background-image:url('/images/dragon.svg');
    background-size:auto 100% ;
    background-repeat:no-repeat;
    /* left middle */
    background-position: 33.33% 50%;
    z-index:-1;
    opacity:0.3;
  }
}
.bg-100-electric {
  background: linear-gradient(to right, rgba(var(--electric-rgb), 0.15), rgba(var(--electric-rgb), 1));
  position:relative;
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:12px;
    left:0;
    bottom:12px;
    right:0;
    background-image:url('/images/electric.svg');
    background-size:auto 100% ;
    background-repeat:no-repeat;
    /* left middle */
    background-position: 33.33% 50%;
    z-index:-1;
    opacity:0.3;
  }
}
.bg-100-fairy {
  background: linear-gradient(to right, rgba(var(--fairy-rgb), 0.15), rgba(var(--fairy-rgb), 1));
  position:relative;
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:12px;
    left:0;
    bottom:12px;
    right:0;
    background-image:url('/images/fairy.svg');
    background-size:auto 100% ;
    background-repeat:no-repeat;
    /* left middle */
    background-position: 33.33% 50%;
    z-index:-1;
    opacity:0.3;
  }
}
.bg-100-ghost {
  background: linear-gradient(to right, rgba(var(--ghost-rgb), 0.15), rgba(var(--ghost-rgb), 1));
  position:relative;
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:12px;
    left:0;
    bottom:12px;
    right:0;
    background-image:url('/images/ghost.svg');
    background-size:auto 100% ;
    background-repeat:no-repeat;
    /* left middle */
    background-position: 33.33% 50%;
    z-index:-1;
    opacity:0.3;
  }
}
.bg-100-fire {
  /* background: rgba(var(--fire-rgb), 0.15); */
  background: linear-gradient(to right, rgba(var(--fire-rgb), 0.15), rgba(var(--fire-rgb), 1));
  position:relative;
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:12px;
    left:0;
    bottom:12px;
    right:0;
    background-image:url('/images/fire.svg');
    background-size:auto 100% ;
    background-repeat:no-repeat;
    /* left middle */
    background-position: 33.33% 50%;
    z-index:-1;
    opacity:0.3;
  }
}
.bg-100-ice {
  background: linear-gradient(to right, rgba(var(--ice-rgb), 0.15), rgba(var(--ice-rgb), 1));
  position:relative;
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:12px;
    left:0;
    bottom:12px;
    right:0;
    background-image:url('/images/ice.svg');
    background-size:auto 100% ;
    background-repeat:no-repeat;
    /* left middle */
    background-position: 33.33% 50%;
    z-index:-1;
    opacity:0.3;
  }
}
.bg-100-grass {
  background:linear-gradient(to right, rgba(var(--grass-rgb), 0.15), rgba(var(--grass-rgb), 1));
  position:relative;
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:12px;
    left:0;
    bottom:12px;
    right:0;
    background-image:url('/images/grass.svg');
    background-size:auto 100% ;
    background-repeat:no-repeat;
    /* left middle */
    background-position: 33.33% 50%;
    z-index:-1;
    opacity:0.3;
  }
}
.bg-100-bug {
  background: linear-gradient(to right, rgba(var(--bug-rgb), 0.15), rgba(var(--bug-rgb), 1));
  position:relative;
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:12px;
    left:0;
    bottom:12px;
    right:0;
    background-image:url('/images/bug.svg');
    background-size:auto 100% ;
    background-repeat:no-repeat;
    /* left middle */
    background-position: 33.33% 50%;
    z-index:-1;
    opacity:0.3;
  }
}
.bg-100-fighting {
  background: linear-gradient(to right, rgba(var(--fighting-rgb), 0.15), rgba(var(--fighting-rgb), 1));
  position:relative;
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:12px;
    left:0;
    bottom:12px;
    right:0;
    background-image:url('/images/fighting.svg');
    background-size:auto 100% ;
    background-repeat:no-repeat;
    /* left middle */
    background-position: 33.33% 50%;
    z-index:-1;
    opacity:0.3;
  }
}
.bg-100-normal {
  background: linear-gradient(to right, rgba(var(--normal-rgb), 0.15), rgba(var(--normal-rgb), 1));
  position:relative;
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:12px;
    left:0;
    bottom:12px;
    right:0;
    background-image:url('/images/normal.svg');
    background-size:auto 100% ;
    background-repeat:no-repeat;
    /* left middle */
    background-position: 33.33% 50%;
    z-index:-1;
    opacity:0.3;
  }
}
.bg-100-dark {
  background: linear-gradient(to right, rgba(var(--dark-rgb), 0.15), rgba(var(--dark-rgb), 1));
  position:relative;
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:12px;
    left:0;
    bottom:12px;
    right:0;
    background-image:url('/images/dark.svg');
    background-size:auto 100% ;
    background-repeat:no-repeat;
    /* left middle */
    background-position: 33.33% 50%;
    z-index:-1;
    opacity:0.3;
  }
}
.bg-100-metal {
  background: linear-gradient(to right, rgba(var(--metal-rgb), 0.15), rgba(var(--metal-rgb), 1));
  position:relative;
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:12px;
    left:0;
    bottom:12px;
    right:0;
    background-image:url('/images/steel.svg');
    background-size:auto 100% ;
    background-repeat:no-repeat;
    /* left middle */
    background-position: 33.33% 50%;
    z-index:-1;
    opacity:0.3;
  }
}
.bg-100-stone {
  background: linear-gradient(to right, rgba(var(--stone-rgb), 0.15), rgba(var(--stone-rgb), 1));
  position:relative;
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:12px;
    left:0;
    bottom:12px;
    right:0;
    background-image:url('/images/ground.svg');
    background-size:auto 100% ;
    background-repeat:no-repeat;
    /* left middle */
    background-position: 33.33% 50%;
    z-index:-1;
    opacity:0.3;
  }
}
.bg-100-psychic {
  background: linear-gradient(to right, rgba(var(--psychic-rgb), 0.15), rgba(var(--psychic-rgb), 1));
  position:relative;
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:12px;
    left:0;
    bottom:12px;
    right:0;
    background-image:url('/images/psychic.svg');
    background-size:auto 100% ;
    background-repeat:no-repeat;
    /* left middle */
    background-position: 33.33% 50%;
    z-index:-1;
    opacity:0.3;
  }
}
.bg-100-earth {
  background: linear-gradient(to right, rgba(var(--earth-rgb), 0.15), rgba(var(--earth-rgb), 1));
  position:relative;
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:12px;
    left:0;
    bottom:12px;
    right:0;
    background-image:url('/images/ground.svg');
    background-size:auto 100% ;
    background-repeat:no-repeat;
    /* left middle */
    background-position: 33.33% 50%;
    z-index:-1;
    opacity:0.3;
  }
}
.bg-100-ground {
  background: linear-gradient(to right, rgba(var(--earth-rgb), 0.15), rgba(var(--earth-rgb), 1));
  position:relative;
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:12px;
    left:0;
    bottom:12px;
    right:0;
    background-image:url('/images/ground.svg');
    background-size:auto 100% ;
    background-repeat:no-repeat;
    /* left middle */
    background-position: 33.33% 50%;
    z-index:-1;
    opacity:0.3;
  }
}
.bg-100-poison {
  background: linear-gradient(to right, rgba(var(--poison-rgb), 0.15), rgba(var(--poison-rgb), 1));
  position:relative;
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:12px;
    left:0;
    bottom:12px;
    right:0;
    background-image:url('/images/poison.svg');
    background-size:auto 100% ;
    background-repeat:no-repeat;
    /* left middle */
    background-position: 33.33% 50%;
    z-index:-1;
    opacity:0.3;
  }
}
.bg-100-flying {
  /* background: rgba(var(--flying-rgb), 0.15); */
  background: linear-gradient(to right, rgba(var(--flying-rgb), 0.15), rgba(var(--flying-rgb), 1));
  position:relative;
  &:after {
    content:"";
    display:block;
    position:absolute;
    top:12px;
    left:0;
    bottom:12px;
    right:0;
    background-image:url('/images/flying.svg');
    background-size:auto 100% ;
    background-repeat:no-repeat;
    /* left middle */
    background-position: 33.33% 50%;
    z-index:-1;
    opacity:0.3;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    padding-top: 5rem;
    overflow-x:hidden;
}

.bg-pokeball {
  position:fixed;
  bottom:0;
  right:0;
  left:0;
  top:0;
  background-image:url('/images/bg-pokeball.svg');
  background-repeat:no-repeat;
  background-position:bottom right;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  z-index:-1000;
}

#header {
  position: fixed;
  top: 0;
  right:0;
  left:0;
  background: #D02434;
  z-index:100;
  
  .header-left {
    background-image: url('/src/assets/header-top-left.svg');
    position: absolute;
    top:0;
    left:0;
    height:135px;
    width:250px;
  }
  .header-right {
    background-image: url('/src/assets/header-top-right.svg');
    position: absolute;
    height:87px;
    top:0;
    left:250px;
    right:0;
  }
}

.loading-page {
  background-image: url('/src/assets/loading-bg.jpg');
  background-size:cover;
  background-position:top center;
  z-index: 50;
  position:absolute;
  top:0;right:0;bottom:0;left:0;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  color: #FFF;
}

.loading-page span {
  font-size: 2em;
  font-weight: 600;
  position: fixed;
  bottom: 2rem;
}

#footer {
  position:fixed;
  left:0;right:0;bottom:0;
  height:60px;
  background: #D02434;
  backdrop-filter: blur(10px);
  border-top:1px solid rgba(255,255,255,0.5);
  box-shadow: 0px -5px 10px rgba(0,0,0,0.1), 0px -10px 20px rgba(0,0,0,0.1);
  font-size:10px;
}

.poke-preview {
  min-height:280px;
  height:50vw;
  background-size:cover;
  background-position:center;
  position:relative;
}

.poke-info {
  border-top-left-radius:50px;
  border-top-right-radius:50px;
  margin-top:-50px;
  position:relative;
  padding:20px;
  padding-top:40px;
  padding-bottom:100px;

  .poke-name {
    font-family:Pokedex, sans-serif;
    font-size:2em;
    text-align:center;
  }
  
  .poke-desc {
    font-size:1.25em;
    opacity:0.6;
    text-align:center;
  }
  .title {
    font-weight:600;
    font-size:32px;
    line-height:1;
  }
  .type {
    font-size:18px;
    font-weight:600;
    display:inline-block;
    padding:5px 20px;
    border-radius:30px;;
    margin-bottom:15px;
    margin-top:15px;
  }
  .description {
    opacity:0.75;
    margin-bottom:15px;
  }

  .stats {
    .stat {
      display:flex;
      align-items:center;
      .stat-icon {
        svg {
          width:24px;
        }
      }
      .stat-attr {
        font-weight:600;
      }
      .stat-value {
        flex:1;
        opacity:0.6;
      }
    }
  }

}

